@model List<InvoiceItem>

<table class="table table-responsive table-hover table-bordered table-striped">

    <thead>
        <tr>
            <th>
                Item Name
            </th>
            <th>
                Invoice Date
            </th>
            <th>
                Quantity
            </th>
            <th>
                Total
            </th>

        </tr>
    </thead>

    <tbody>

        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>
                    <input asp-for="@Model[i].Items.Name" class="form-control" readonly />
                </td>
                <td>
                    <input asp-for="@Model[i].InvoiceDate" class="form-control" readonly />
                </td>
                <td>
                    <input asp-for="@Model[i].Quantity" class="form-control" readonly />
                </td>
                <td>
                    <input asp-for="@Model[i].ItemTotal" class="form-control" readonly />
                </td>

            </tr>
        }

    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                Invoice Total = @ViewBag.Total and No of Item is @ViewBag.Count

                Average item Price @Model.Average(i => i.Items?.Price)
            </td>
        </tr>
    </tfoot>

</table>